.status-message {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  min-height: 100vh;
  background-color: #000;

  .lazy-image {
    position: absolute;
    top: 0;
    left: 0;
    animation: fade-and-scale 200000ms both;
  }

  &__content {
    margin: auto;
    padding: 40px;
    text-align: left;
    width: 600px;
    max-width: 100%;
  }

  &__content-header {
    display: inline-block;

    h1 {
      margin: 0;
      font-size: 1.5em;
      text-transform: lowercase;
      animation: slide-in-from-left 2000ms ease both;
    }

    h2 {
      margin: 0;
      font-size: 2.4em;
      animation: slide-in-from-left 2000ms ease both;
      animation-delay: 200ms;
    }
  }

  &__content-body {
    margin-top: 2em;
    opacity: 0.75;
    @extend %body-copy-formatting;

    & > * {
      animation: slide-in-from-left 2000ms ease both;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          animation-delay: 200ms * ($i + 2);
        }
      }
    }
  }
}
