.dark-mode-toggle {
  display: block;
  position: fixed;
  top: 5px;
  right: 5px;
  width: 35px;
  padding: 0;
  padding: 0;
  background: none;
  border: 0;
  z-index: map-get($z-index, fixed);
  color: white;
  background: rgba(black, 0.8);
  padding: 3px;
  border-radius: 50%;

  &__switch {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    margin: auto;

    &::before {
      content: "";
      display: block;
      position: relative;
      padding-bottom: 100%;
    }
  }

  &__switch-inner {
    display: block;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid currentColor;
    position: absolute;
    top: -1px;
    right: -1px;
    left: -1px;
    
    &::before {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 100%;
      background-color: currentColor;
      opacity: 0;
    }


    &[data-dark-mode-state="off"] {
      &::before {
        opacity: 1;
      }
    }

    &[data-dark-mode-state="on"] {
      &::before {
        opacity: 0;
      }
    }
    
    &[data-dark-mode-state="auto"],
    &[data-dark-mode-state="auto-on"],
    &[data-dark-mode-state="auto-off"] {
      &::before {
        opacity: 1;
        transform: translateX(-50%);
      }
    }
  }
}
