// Colours
$black: black;
$white: white;
$bright-turquoise: #15E6CD;
$rusty-red: #DB324D;
$deep-carmine: #A62639;
$acajou: #511C29;
$charleston-green: #282828;
$smoky-black: #08090A;
$london-red: #e4012c;
$pictorial-carmine: #CA1551;
$tart-orange: #FB4D3D;
