/**
* Media width mixins, standard screen and min-width.
* @size: $media-xs | $media-sm | $media-md | $media-lg | $media-xl
*
*/

$media-xs: "xs";
$media-sm: "sm";
$media-md: "md";
$media-lg: "lg";
$media-xl: "xl";

@mixin media($size, $maxOrMin: "min") {
  $mediaWidthRule: min-width;

  @if $maxOrMin == "max" {
    $mediaWidthRule: max-width;
  }

  @if $size == $media-xs {
    @media screen and ($mediaWidthRule:$media-width-xs-max) {
      @content;
    }
  } @else if $size == $media-sm {
    @media screen and ($mediaWidthRule:$media-width-sm-max) {
      @content;
    }
  } @else if $size == $media-md {
    @media screen and ($mediaWidthRule:$media-width-md-max) {
      @content;
    }
  } @else if $size == $media-lg {
    @media screen and ($mediaWidthRule:$media-width-lg-max) {
      @content;
    }
  } @else if $size == $media-xl {
    @media screen and ($mediaWidthRule:$media-width-xl) {
      @content;
    }
  }
}



/**
* Link decoration for string links
*
*/

@mixin link-normalise {
  &,
  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
    outline: none;
  }
}

@mixin link-decoration-active-state {
  border-bottom-color: $color-primary;
  background-size: 100% 2px;
}

@mixin link-decoration {
  position: relative;
  display: inline-block;
  background-image: linear-gradient($color-primary, $color-primary);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 300ms;
  @include link-normalise;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px dotted $color-primary;
    opacity: 0.35;
  }

  &:hover,
  &:focus {
    @include link-decoration-active-state;
  }
}



/**
* Generic copy mixins
*
*/

// Copy - light colour formatting
@mixin copy-color-light {
  opacity: 0.87;
}

@mixin copy-size-small {
  font-size: 0.75em;
}



/**
* Heading copy formatting mixins
*
*/

// Headings - letter spacing for heading elements
@mixin heading-letter-spacing-formatting {
  letter-spacing: 0.2em;
}

// Headings - primary heading
@mixin heading-formatting {
  line-height: 1.35;
  margin: 0;
  text-transform: uppercase;
  @include heading-letter-spacing-formatting;
}

// Headings - sub heading
@mixin heading-sub-formatting {
    font-size: .65em;
    line-height: 1.5;
    margin: 0;
    text-transform: lowercase;
    @include copy-color-light;
    @include heading-letter-spacing-formatting;
}



/**
* Body copy formatting mixins
*
*/

// Body copy - standardise all string elements
@mixin body-copy-formatting {
  h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    @include heading-formatting;
  }

  h1, h2, h3, h4, h5, h6,
  &[data-content-type="h1"],
  &[data-content-type="h2"],
  &[data-content-type="h3"],
  &[data-content-type="h4"],
  &[data-content-type="h5"],
  &[data-content-type="h6"] {
    &:nth-child(n+2):not(:empty) {
      margin-top: 3em;
    }
  }

  p, ul, ol,
  &[data-content-type="p"],
  &[data-content-type="ul"],
  &[data-content-type="ol"] {
    line-height: 1.8;

    &:nth-child(n+2) {
      margin-top: 1em;
    }
  }

  ul, ol {
    padding-left: 1.15em;
  }

  ul:not([class]), ol:not([class]) {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    columns: 2 300px;

    li {
      padding-right: $ui-content-padding-md;
      page-break-after: avoid;
      break-after: avoid;
      page-break-before: avoid;
      break-before: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }

  a {
    @include link-decoration;
  }
}

%body-copy-formatting {
  @include body-copy-formatting;
}

// Body copy - first letter drop letter
@mixin body-copy-drop-letter {
  &:first-child:first-letter {
    color: $color-secondary;
    float: left;
    font-family: "Georgia";
    font-size: 3.5em;
    line-height: 1em;
    padding-top: .025em;
    padding-right: 0.25em;
  }
}

%body-copy-drop-letter {
  @include body-copy-drop-letter;
}
