/**
 * Typography
 *
 */

$text-typeface-fallback: "Helvetica", "Arial", sans-serif;
$text-typeface: "Avenir LT Std 45 Book", $text-typeface-fallback;
$text-font-size: 16px;
$text-line-height: 1.4;




/**
* Branding colours
*
*/

// Color variables
:root {
  --brand-primary: #{$london-red};
  --brand-secondary: #{$bright-turquoise};
  --brand-accent-primary: #{$smoky-black}; // #{#141414};
  --brand-accent-secondary: #{$smoky-black};
  --color-backing-primary: #{$white};
  --color-backing-secondary: #{#fafafa};
  --color-image-background: #{#d7d6e0};
  --color-image-border: #{rgba($black, 0.1)};
  --text-color: rgba($black, 0.65);
  
  &[data-theme="dark"] {
    --color-backing-primary: #{$smoky-black};
    --color-backing-secondary: #{mix($black, $white, 5%)};
    --color-image-background: #{mix($black, $white, 6%)};
    --color-image-border: #{rgba($white, 0.1)};
    --text-color: #{rgba($white, 0.85)};
  }
}

$text-color: var(--text-color);
$color-backing-primary: var(--color-backing-primary);
$color-backing-secondary: var(--color-backing-secondary);
$color-primary: var(--brand-primary);
$color-secondary: var(--brand-secondary);
$color-accent-primary: var(--brand-accent-primary);
$color-accent-secondary: var(--brand-accent-secondary);
$color-image-background: var(--color-image-background);
$color-image-border: var(--color-image-border);



/**
 * Interface basics, padding, gutters, 
 * animation durations, etc.
 *
 */

// Z-index
$z-index: (
  sticky: 5,
  navigation: 6,
  fixed: 7,
);

// Drop shadows
$drop-shadows: (
  cards: 5,
  navigation: 6,
);

// Content spacers (think padding around copy, etc. to space content from edges.
$ui-content-padding-xs: 10px;
$ui-content-padding-sm: 20px;
$ui-content-padding-md: 40px;
$ui-content-padding-lg: 60px;
$ui-content-padding-xl: 80px;

$ui-transition-duration-short: 240ms;
$ui-transition-duration-medium: 540ms;
$ui-transition-duration-long: 840ms;



/**
 * Media breakpoints
 *
 */

$media-width-xs: 480px;
$media-width-xs-max: $media-width-xs - 1;
$media-width-sm: 768px;
$media-width-sm-max: $media-width-sm - 1;
$media-width-md: 992px;
$media-width-md-max: $media-width-md - 1;
$media-width-lg: 1200px;
$media-width-lg-max: $media-width-lg - 1;
$media-width-xl: 1420px;
$media-width-xl-max: $media-width-xl - 1;
$media-width-xxl: 1660px;
$media-width-xxl-max: $media-width-xxl - 1;



/**
 * Content width breakpoints
 * Use these to limit content, rather than the actual window breakpoint.
 */

$content-width-xs: 0px;
$content-width-sm: 768px;
$content-width-md: 992px;
$content-width-lg: 1100px;
$content-width-xl: 1400px;
$content-width-xxl: 1660px;

// Content restriction to make sure paragraphs aren't too wide.
$content-width-readable: 800px;

// Restrict content on ultra wide screens so not to look odd.
$content-restriction-uhd: $content-width-xxl / 2;
