// Base imports
@import "colors";
@import "variables";
@import "mixins";
@import "normalise";
@import "fonts";
@import "icons";
@import "animations";


// Color variables
:root {
--color-primary: #e4012c; // $london-red: ; $color-primary;
--color-accent-primary: #282828; // $london-red: ; $color-primary;
}

// Base styling
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: $color-backing-primary;
  font-family: $text-typeface;
  font-size: $text-font-size;
  color: rgba($text-color, 0.87);
  line-height: $text-line-height;
  word-break: break-word;
  overflow-wrap: break-word;
}

hr {
  border: 0;
  background: none;
  margin: 1em 0;
  line-height: 1;
  font-size: 1.875rem;
  opacity: 0.75;
  height: auto;

  &::before,
  &::after {
    content: "";
    display: block;
    margin: auto;
    position: relative;
    -webkit-clip-path: url("#clip-path-triangle");
    clip-path: url("#clip-path-triangle");
    mix-blend-mode: exclusion;
    width: 1em;
    height: 1em;
    opacity: 0.8;

    @supports not (clip-path: url("#clip-path-triangle")) {
      transform: rotate(45deg);
    }
  }

  &::before {
    background-color: $color-primary;
    width: 0.65em;
    height: 0.65em;
    z-index: 1;
  }

  &::after {
    margin-top: -0.5em;
    background-color: $color-secondary;

    @supports not (clip-path: url("#clip-path-triangle")) {
      margin-top: 0;
      transform: rotate(45deg) scale(1.5) translate(-10%, -10%);
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  letter-spacing: 0.2em;
}


ul[class], ol[class], figure {
  margin: 0;
}


// SVG storage area for clip paths and svg use references.
.svg-yard {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}


// Transition containers for LiquidFire.
.lf__main {
  transform: none !important;
  position: relative !important;

  .liquid-child {
    &:last-child {
      position: relative !important;
      top: auto !important;
      left: auto !important;
    }
  }
}

@import "app/pods/not-found/style";

// Component imports
@import "app/pods/components/about-me/style";
@import "app/pods/components/contact-me/style";
@import "app/pods/components/example/example-grid/style";
@import "app/pods/components/example/example-grid/example-grid-item/style";

// Decorative elements
@import "app/pods/components/decorations/decorative-triangles/style";

// UI generic component elements
@import "app/pods/components/ui/cookie-bar/style";
@import "app/pods/components/ui/is-currently-visible/style";
@import "app/pods/components/ui/lazy-image/style";
@import "app/pods/components/ui/link-external/style";
@import "app/pods/components/ui/link-to-home/style";
@import "app/pods/components/ui/video/style";

// Layout specific components
@import "app/pods/components/layout/hero-banner/style";
@import "app/pods/components/layout/page-sections/page-wrapper/style";
@import "app/pods/components/layout/page-sections/page-wrapper/page-wrapper-section/style";
@import "app/pods/components/layout/page-sections/page-section-sticky-title/style";

// Project specific components
@import "app/pods/components/project/project-link/style";
@import "app/pods/components/project/hero-video-banner/style";
@import "app/pods/components/project/content/project-content/style";
@import "app/pods/components/project/content/project-details/style";
@import "app/pods/components/project/content/tech-grid/style";
@import "app/pods/components/project/content/tech-grid/tech-grid-item/style";
@import "app/pods/components/project/content/image-grid/style";
@import "app/pods/components/project/content/image-grid/image-grid-item/style";
@import "app/pods/components/project/content/mockup-grid/style";
@import "app/pods/components/project/content/mockup-grid/mockup-grid-item/style";
