<div class="mockup-grid-item">
  <Ui::LazyImage
    class="mockup-grid-item__image"
    @alt={{@alt}}
    @isCurrentlyVisible={{@isCurrentlyVisible}}
    @shouldImageCover={{true}}
    @srcSet={{@srcSet}}
  />
</div>