<div class="cookie-bar">
  <div class="cookie-bar__inner">
    <div class="cookie-bar__content">
      <div class="cookie-bar__message">
        <p>This website makes use of cookies from third parties to deliver things like visitor statistics through Google Analytics. Please acknowledge and accept by either clicking the accept button or continuing to browse. If you do not accept the use of cookies, please close this tab.</p>
      </div>

      <div class="cookie-bar__action">
        <button class="cookie-bar__button" {{action "acceptCookie"}}>Accept cookies</button>
      </div>
    </div>
  </div>
</div>
