.page-wrapper-section {
  $_self: &;

  position: relative;
  background-color: inherit;
  background-color: var(--color-backing-primary);
  transition: background-color #{$ui-transition-duration-medium};

  // Overlap previous section
  &--has-overlap {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      padding-bottom: 5vw;
      background-color: inherit;
    }

    &::before {
      transform-origin: 0% 0%;
      transform: translate(-100%, -100%) skewY(5deg);
    }

    &::after {
      transform-origin: 100% 0%;
      transform: translate(0%, -100%) skewY(-5deg);
    }
  }

  // Vertical spacing
  &--gutter-vertical-sm {
    &:nth-child(n+2) {
      padding-top: 40px;
    }
  }

  &--gutter-vertical-md {
    &:nth-child(n+2) {
      padding-top: 60px;
    }
  }

  &--gutter-vertical-lg {
    &:nth-child(n+2) {
      padding-top: 80px;
    }
  }

  &--gutter-vertical-top-only {
    &:nth-child(n+2) {
      padding-bottom: 0px !important;
    }
  }

  &--gutter-vertical-bottom-only {
    &:nth-child(n+2) {
      padding-top: 0px !important;
    }
  }


  &__inner {
    position: relative;

    #{$_self}--has-overlap & {
      padding-top: 5vw;
    }
  }
}
