.page-wrapper-section {
  $_self: &;

  position: relative;

  &,
  &::before,
  &::after {
    background-color: $color-backing-primary;
    transition: background-color #{$ui-transition-duration-medium};
  }

  // Overlap previous section
  &--has-overlap {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 51%;
      padding-bottom: 5vw;
    }

    &::before {
      left: 0%;
      transform-origin: 0% 0%;
      transform: translateY(-100%) skewY(5deg);
    }

    &::after {
      right: 0%;
      transform-origin: 100% 0%;
      transform: translateY(-100%) skewY(-5deg);
    }
  }

  // Vertical spacing
  &--gutter-vertical-sm {
    &:nth-child(n+2) {
      padding-top: 40px;
    }
  }

  &--gutter-vertical-md {
    &:nth-child(n+2) {
      padding-top: 60px;
    }
  }

  &--gutter-vertical-lg {
    &:nth-child(n+2) {
      padding-top: 80px;
    }
  }

  &--gutter-vertical-xl {
    &:nth-child(n+2) {
      padding-top: 120px;
    }
  }

  &--gutter-vertical-top-only {
    &:nth-child(n+2) {
      padding-bottom: 0px !important;
    }
  }

  &--gutter-vertical-bottom-only {
    &:nth-child(n+2) {
      padding-top: 0px !important;
    }
  }


  &__inner {
    position: relative;

    #{$_self}--has-overlap & {
      padding-top: 5vw;
    }
  }
}
