<div
  class={{bem "page-wrapper-section" 
    gutterVertical=this.gutterVerticalSpacer
    gutterVerticalTopOnly=@gutterVerticalTopOnly
    gutterVerticalBottomOnly=@gutterVerticalBottomOnly
    hasOverlap=@hasOverlap
  }}
>
  <div class="page-wrapper-section__inner">
    {{yield}}
  </div>
</div>
