<div
  class={{bem "page-wrapper-section" 
    gutterVertical=(concat "gutter-vertical-" gutterVertical)
    gutterVerticalTopOnly=gutterVerticalTopOnly
    gutterVerticalBottomOnly=gutterVerticalBottomOnly
    hasOverlap=hasOverlap
  }}
>
  <div class="page-wrapper-section__inner">
    {{yield}}
  </div>
</div>
