.project-content {
  $_self: &;

  &__body {
    margin-right: auto;
    margin-left: auto;
  }

  &__body-section {
    $_self-section: &;

    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: $ui-content-padding-md;
    @extend %body-copy-formatting;

    &--media-width {
      width: $content-width-lg;

      @include media($media-sm, max) {
        padding-right: $ui-content-padding-sm;
        padding-left: $ui-content-padding-sm;
      }
    }

    &--readable-width {
      padding-top: 0;
      padding-bottom: 0;
      width: $content-width-readable;
      
      & + :not(&) {
        padding-top: $ui-content-padding-md;
        padding-bottom: $ui-content-padding-md;
      }
      
      @include media($media-sm) {
        max-width: 80vw;
      }
    }

    &--full-width {
      width: 100%;
      max-width: 100%;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: calc(50vw - #{$content-width-xxl / 2} + #{$ui-content-padding-md});
      padding-left: calc(50vw - #{$content-width-xxl / 2} + #{$ui-content-padding-md});
    }

    &--background-primary {
      background-color: $color-primary !important;
      color: $white;
      margin-top: calc(3vw + 120px);
      margin-bottom: calc(3vw + 120px);
      position: relative;
      z-index: 1;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: -2vw;
        bottom: -2vw;
        left: 0;
        width: 100%;
        background-color: inherit;
        backface-visibility: hidden;
      }

      &::before {
        transform: skewY(3deg);
        transform: perspective(900px) rotateY(5deg);
        transform-origin: 100% 50%;
        width: 50%;
        left: 0px;
        right: auto;
      }

      &::after {
        transform: skewY(-3deg);


        transform: perspective(900px) rotateY(-5deg);
        transform-origin: 0% 50%;
        width: 50%;
        left: auto;
        right: 0px;
      }
    }
  }
}