<div class="example-grid">
  <div class="example-grid__inner">
    {{#if @heading}}
      <div class="example-grid__header">
        <h2 class="example-grid__heading">{{@heading}}</h2>
      </div>
    {{/if}}

    {{#if this.exampleList}}
      <Ui::IsCurrentlyVisible class="example-grid__body" as |isCurrentlyVisible|>
          <div class="example-grid__body-content">
            {{#each this.exampleList as |example|}}
              <Example::ExampleGrid::ExampleGridItem
                @example={{example}}
                @isCurrentlyVisible={{isCurrentlyVisible}}
              />
            {{/each}}
        </div>
      </Ui::IsCurrentlyVisible>
    {{/if}}
  </div>
</div>
