.status-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;

  &--404 {
    background-image: url("/assets/images/misc/status_404.jpg");

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      animation: fade-out 2000ms both;
    }
  }


  &__body {

    margin: auto;
    padding: 40px;
    text-align: center;

    h1, h2, h3, h4, h5, h6 {
      color: inherit;
    }

    h1 {
      font-size: 4em;
    }


    & > * {
      animation: slide-in-from-left 2000ms ease both;
      // animation: fade-in 2000ms ease both;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          animation-delay: 200ms * $i;
        }
      }
    }
  }
}
