<div class="status-container">
  <div class="status-container__body">
    <h1>404: Not found</h1>

    <p>You look lost, friend. Perhaps the page you're after no longer exists. Perhaps it never existed.</p>

    <p>Worry not, Why not <LinkTo @route="home">head back home</LinkTo> and see if you can find what you're looking for?</p>
  </div>
</div>
