.image-grid-item {
  flex: 1 1 auto;
  min-height: 0px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  padding: $ui-content-padding-xs;
  min-width: 200px;

  &[data-columns="1"] {
    width: calc(100% / 1);
  }

  &[data-columns="2"] {
    width: calc(100% / 2);
  }

  &[data-columns="3"] {
    width: calc(100% / 3);
  }

  &[data-columns="4"] {
    width: calc(100% / 4);
  }

  &[data-columns="5"] {
    width: calc(100% / 5);
  }


  &__image {
    display: block;
    width: 100%;
    border: 1px solid rgba($black, 0.1);
  }
}
