<div class="image-grid-item" data-columns={{colCount}}>
  <Ui::isCurrentlyVisible class="image-grid-item__image" as |isCurrentlyVisible|>
    <Ui::LazyImage
      @isCurrentlyVisible={{isCurrentlyVisible}}
      @srcSet={{srcSet}}
      @alt={{alt}}
    />
  </Ui::isCurrentlyVisible>
</div>
