<div class="tech-grid__inner">
  <div class="tech-grid__header">
    <h2 class="tech-grid__header-title">Tech stack</h2>
  </div>

  <div class="tech-grid__body">
    <ul class="tech-grid__list">
      {{#each technology as |tech|}}
        <Project::Content::TechGrid::TechGridItem
          @tech={{tech}}
        />
      {{/each}}
    </ul>
  </div>
</div>
