.mockup-grid {
  $_self: &;
  $_tech-stack-duration: $ui-transition-duration-long;

  position: relative;
  color: inherit;

  &__body {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-flow: row wrap;
  }

  &__item {
    $_self-item: &;

    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-flow: row wrap;
    flex: 0 0 auto;
    width: 100%;

    &:nth-child(even) {
      justify-content: flex-end;
    }

    &:nth-child(n+2) {
      transform: translateY(-20px);
    }

    // Divider
    hr {
      position: absolute;
      bottom: 0%;
      right: 0%;
      transform: translate(50%, 50%);
      z-index: 1;
    }

    &:nth-child(even) {
      hr {
        display: none;
      }
    }
  }

  &__item-inner {
    flex: 0 0 auto;
    width: calc(50% + 10px);
    position: relative;
  }

}