<Ui::IsCurrentlyVisible class="mockup-grid__body" as |isCurrentlyVisible|>
  {{#each @media as |mediaItem|}}
    <div class="mockup-grid__item">
      <Project::Content::MockupGrid::MockupGridItem
        @alt={{mediaItem.alt}}
        @isCurrentlyVisible={{isCurrentlyVisible}}
        @srcSet={{mediaItem.srcSet}}
      />
    </div>
  {{/each}}
</Ui::IsCurrentlyVisible>
