<div class="content-container content-container-header">
  <div class="hero-main">
    <div class="hero-main__header">
      <div class="hero-main__header-inner">
        <div class="hero-main__header-inner-section">
          <h2>Front end developer</h2>
          {{!-- <h1>Greg Hogan</h1> --}}
        </div>
        
        <div class="hero-main__header-inner-section">
          <h3>Location: London, UK</h3>
          <h3><span class="mi-check"></span>Not a Robot</h3>
          {{!-- <h3 class="hero-main__header-employment-status">Employment status: <span class="hero-main__header-employment-live-status">S T A T U   S</span></h3> --}}
        </div>
      </div>
    </div>


    <div class="hero-main__body">
      <div class="hero-main__links">
        <ul>
          <li><a href="https://codepen.io/greghogan/" target="_blank" rel="noreferrer" class="fa-codepen"><p>Codepen</p></a></li>
          <li><a href="https://github.com/hogansghost" target="_blank" rel="noreferrer" class="fa-github"><p>Github</p></a></li>
          <li><a href="Greg_Hogan_2018.pdf" target="_blank" rel="noreferrer" class="fa-cv"><p>CV</p></a></li>
          <li><a href="mailto:hire+web@greghogan.uk" rel="noreferrer" class="fa-email"><p>Email</p></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>