.lazy-image {
  position: relative;
  display: block;
  width: 100%;

  &--image-cover {
    height: 100%;
  }

  &__placeholder,
  &__main {
    display: block;
    width: 100%;
    max-width: 100%;
    object-fit: cover;

    &--should-image-cover {
      width: 100%;
      height: 100%;
    }
  }

  &__placeholder {
    position: relative;

    &--placeholder-error {
      display: none;
    }
  }

  &__main {
    position: relative;
    width: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 450ms ease 400ms;

    &--loaded {
      opacity: 1;
    }

    &--has-placeholder {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }

    &:not([src]) {
      display: none;
    }
  }
}
