.page-section-sticky-title {
  $_this: &;

  position: relative;

  &__inner {
    position: relative;
    background-color: $color-primary;

    &--theme-primary {
      background-color: $color-primary;
    }

    &--theme-secondary {
      background-color: $color-accent-primary;
    }

    // Scroll state
    &--is-sticky {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-flow: row nowrap;
    }

    // Position
    &--is-title-first {
      flex-direction: row-reverse;
    }
  }

  &__content,
  &__heading {
    min-height: 100vh;
    width: 100%;

    @include media($media-sm) {
      width: 50%;
    }
  }

  &__content {
    background-color: $color-backing-primary;
    min-height: 101vh;
    transition: background-color #{$ui-transition-duration-medium};
  }

  &__heading {
    position: relative;
    right: 0;
    height: 100vh;
    background-color: inherit;
    transition: background-color #{$ui-transition-duration-medium};
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $ui-content-padding-md;
    color: $white;
    z-index: 2;

    @include media($media-sm) {
      position: static;

      // Position
      &--is-title-first {
        right: auto;
        left: 0;
      }

      // Scroll state
      &--state-fixed {
        position: fixed;
        top: 0;
        width: 50%;
      }

      &--state-end {
        bottom: 0;
        position: absolute;
      }

      #{$_this}__inner--is-sticky & {
        flex: 0 0 auto;
        order: 1;
      }
    }
  }


  &__heading-title {
    color: inherit;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.25em;
    text-align: center;
  }

  &__heading-content-width {
    width: $content-restriction-uhd;
    max-width: 100%;
    margin: auto;

    #{$_this}__heading & {
      margin-right: auto;
      margin-left: 0;
    }

    #{$_this}__inner--is-title-first #{$_this}__heading & {
      margin-right: 0;
      margin-left: auto;
    }
  }
}
