.page-section-sticky-title {
  $_this: &;

  position: relative;

  &__inner {
    position: relative;
    background-color: var(--color-primary);

    &--theme-secondary {
      background-color: var(--color-accent-primary);
    }

    // Scroll state
    &--is-sticky {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-flow: row nowrap;
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      grid-template-rows: minmax(0, 1fr);
      grid-template-areas: "left-column right-column";
    }

    // Position
    &--is-title-first {
      grid-template-areas: "right-column left-column";
    }
  }

  &__content,
  &__heading {
    min-height: 100vh;
  }

  &__content {
    grid-area: left-column;
    background-color: $color-backing-primary;
  }

  &__heading {
    grid-area: right-column;
    position: relative;
    right: 0;
    height: 100vh;
    background-color: inherit;
    transition: background 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $ui-content-padding-md;
    color: $white;

    @include media($media-sm) {
      position: static;
      width: 100%;
    }


    // Position
    &--is-title-first {
      right: auto;
      left: 0;
    }

    // Scroll state
    &--state-fixed {
    }

    &--state-fixed {
      position: fixed;
      top: 0;
      width: 50%;
    }

    &--state-end {
      bottom: 0;
      position: absolute;
      width: 100%;
    }

    #{$_this}__inner--is-sticky & {
      flex: 0 0 auto;
      order: 1;
    }
  }


  &__heading-title {
    color: inherit;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.25em;
    text-align: center;
  }

  &__heading-content-width {
    width: $content-restriction-uhd;
    max-width: 100%;
    margin: auto;

    #{$_this}__heading & {
      margin-right: auto;
      margin-left: 0;
    }

    #{$_this}__inner--is-title-first #{$_this}__heading & {
      margin-right: 0;
      margin-left: auto;
    }
  }
}
