<section
  class="page-section-sticky-title"
>
  <div
    data-analytics-name={{@analyticsLogName}}
    class={{bem "page-section-sticky-title__inner"
      isTitleFirst=this.isTitleFirst
      titleTheme=this.bemTitleTheme
    }}
  >
    <div
      class="page-section-sticky-title__heading"
    >
      <div class="page-section-sticky-title__heading-content-width">
        <h3 class="page-section-sticky-title__heading-title">{{@title}}</h3>
      </div>
    </div>

    <div class="page-section-sticky-title__content">
      <div class="page-section-sticky-title__content-content-width">
        {{yield}}
      </div>
    </div>
  </div>
</section>
