.project-link-list {
  &__item {
    position: relative;
    background: $black;

    &:nth-child(n+2) {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        width: 20px;
        padding-bottom: 20px;
        background-color: $color-primary;
        transform: translate(52%, -50%) rotate(45deg);
        z-index: 1;

        @include media($media-sm) {
          right: 0;
          transform: translate(52%, -50%) rotate(45deg);
        }
      }
    }
  }
}
