<nav class="link-to-home">
  <a aria-label="Go Home" class="link-to-home__anchor" href="/" onClick={{action "goBack"}}>
    <span class="link-to-home__anchor-inner fa-link-back"></span>
  </a>
</nav>
