.contact-me {
  @include body-copy-formatting;
  padding: $ui-content-padding-md;
  width: $content-restriction-uhd;
  max-width: 100%;

  &__link-list-item {
    &:nth-child(n+2) {
      margin-top: 0.5em;
    }
  }

  &__link {
    @include link-decoration;
  }


  hr {
    width: 1em;
    margin-left: 0;
    margin-top: 3em;
    margin-bottom: 3em;
  }
}
