<div class="contact-me">
  <div class="contact-me__inner">
    {{#if this.description.length}}
      {{#each this.description as |paragraph|}}
        <p class="contact-me__description">{{paragraph}}</p>
      {{/each}}
    {{/if}}

    {{#if (and this.description.length this.contactLinks.length)}}
      <hr />
    {{/if}}

    {{#if this.contactLinks.length}}
      <ul class="contact-me__link-list">
        {{#each this.contactLinks as |link|}}
          <li class="contact-me__link-list-item">
            <a
              class="contact-me__link"
              href={{link.href}}
              rel="noopener noreferrer"
              target={{link.target}}
            >
              {{link.label}}
            </a>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>
