<div class="contact-me">
  <div class="contact-me__inner">
    {{#if @description}}
      {{#each @description as |paragraph|}}
        <p class="contact-me__description">{{paragraph}}</p>
      {{/each}}
    {{/if}}

    {{#if (and @description.length @contactLinks.length)}}
      <hr />
    {{/if}}

    {{#if @contactLinks}}
      <ul class="contact-me__link-list">
        {{#each @contactLinks as |link|}}
          <li class="contact-me__link-list-item">
            <a class="contact-me__link" href={{link.href}} target={{link.target}}>{{link.label}}</a>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>
