// Parent wrapper
.decorative-triangles {
  position: relative;
  opacity: 0.5;
}

.decorative-triangles-item {
  position: absolute;
  top: 0;
  left: 50%;

  &--first {
    transform: translate(-30%, -50%);
  }

  &--second {
    transform: translate(95%, -50%);
    opacity: 0.55;
  }
}


// Individual items
.decorative-triangle {
  $_self: &;

  position: relative;
  mix-blend-mode: exclusion;
  width: 40vh;
  animation: slide-in-fade-from-top 1320ms ease both;
  color: $color-primary;


  &--first {
    animation-delay: 100ms;
  }

  &--second {
    animation-delay: 200ms;
    color: $color-secondary;
    width: 25vh;
  }


  &__inner {
    display: block;
    background-color: currentColor;
    transform: rotate(45deg);

    &::before {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}
