<div class="decorative-triangles">
  <div class="decorative-triangle decorative-triangle--first">
    <div class="decorative-triangle__inner" />
  </div>

  <div class="decorative-triangle decorative-triangle--second">
    <div class="decorative-triangle__inner" />
  </div>
</div>
