.image-grid {
  position: relative;
  color: inherit;
  padding-top: 5%;
  padding-bottom: 5%;

  &__body {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-flow: row wrap;
    margin-right: -#{$ui-content-padding-xs};
    margin-left: -#{$ui-content-padding-xs};
  }

  &__item {
    flex: 0 0 auto;
    width: 25%;

    @include media($media-xl) {
      width: 20%;
    }
  }
}