<section class="image-grid">
  <div class="image-grid__body">
    {{#each @media as |mediaItem|}}
      <Project::Content::ImageGrid::ImageGridItem
        @alt={{mediaItem.alt}}
        @caption={{mediaItem.caption}}
        @colCount={{this.columns}}
        @srcSet={{mediaItem.srcSet}}
      />
    {{/each}}
  </div>
</section>
