.project-link {
  $_self: &;

  overflow: hidden;
  border: 0;
  display: block;
  position: relative;
  background-color: $color-accent-secondary;
  min-height: 100vh;

  &:nth-child(n+2) {
    border-top: 1px solid rgba(255,255,255,0.1);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 250%;
    height: 100%;
    background-color: $color-primary;
    z-index: 1;
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
  }

  &--visible {
    &::after {
      animation: slideOver 1500ms cubic-bezier(.17,.67,.83,.67) both;

      @-webkit-keyframes slideOver {
        0% {
          -webkit-transform: translateX(-150%) skew(-25deg);
        }
        100% {
          -webkit-transform: translateX(100%) skew(-25deg);
        }
      }

      @keyframes slideOver {
        0% {
          transform: translateX(-150%) skew(-25deg);
        }
        100% {
          transform: translateX(100%) skew(-25deg);
        }
      }
    }
  }



  &__background {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  &__background-picture {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-object-fit: cover;
    object-fit: cover;
    display: block;
    border: 0;

    &:not([src]) {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      box-shadow: inset 0px 0px 100px 5px rgba(0,0,0,1), inset 0px 0px 40px 5px rgba(0,0,0,0.25);
    }
  }

  &__background-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: none;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-object-fit: cover;
    object-fit: cover;
  }



  &__body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    min-height: 100vh;
    color: #fff;
    background-color: rgba(#000, 0.75);
    -webkit-transition: background-color 250ms;
    transition: background-color 250ms;
  }

  &__body-content-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    min-height: 0px;
    padding: $ui-content-padding-sm;

    width: $content-restriction-uhd;
    max-width: 100%;
    margin: auto 0 auto auto;

    text-decoration: none;
    color: inherit;
  }

  &__body-content-footer {
    flex: 0 0 auto;
    padding: $ui-content-padding-xs $ui-content-padding-sm;
    color: rgba($white, 0.8);
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  }

  &__body-content-footer-inner {
    width: $content-restriction-uhd;
    max-width: 100%;
    margin: auto 0 auto auto;
    text-align: center;
  }


  // Project details card
  &__card {
    position: relative;
    margin: auto;
    flex: 0 0 auto;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms;
    max-width: 100%;
    margin: auto;
    display: inline-block;
    width: 90%;
    color: #fff;
    text-align: center;
    font-size: 0.7em;
    z-index: 1;
    border: none;

    #{$_self}--visible & {
      opacity: 1;
    }
  }

  &__card-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $ui-content-padding-lg $ui-content-padding-md;
    font-size: 2em;
    border: none !important;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-primary;
      background-color: $color-accent-primary;
      box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.15), 0px 4px 15px -2px rgba(0,0,0,0.2);
      box-shadow: 0 3px 5px -1px rgba(0,0,0,.25), 0 4px 25px -2px rgba(0,0,0,.4);
      z-index: -1;
      

      @include media($media-sm) {
        opacity: 0;
        transform: translateY(25%) scale(0.7);
        transition: all 450ms cubic-bezier(.4,0,0,1);
      }
    }

    &:hover {
      text-decoration: none;
      border: none;

      &::before {
        transform: scale(1.1);
      }
    }
    
    #{$_self}__body-content-main:hover & {
      &::before {
        transform: none;
        opacity: 1;
      }
    }
  }



  &__card-content {
    display: block;

    hr {
      font-size: 25px;
      margin-top: 0.5em;
      margin-bottom: 0.75em;
    }
  }

  &__card-content-name {
    margin: 0;
    @include heading-formatting;
  }

  &__card-content-role {
    @include heading-sub-formatting;
  }



  &__link-external {
    @include heading-letter-spacing-formatting;
    display: block;
    width: 100%;
  }
}
