.hero-banner {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
  background-color: $color-accent-secondary;
  text-align: center;

  @include media ($media-sm) {
    text-align: left;
  }


  // Background image
  &__background {
    opacity: 0.35;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__background-picture {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
  }


  &__section {
    min-height: 80vh;
  }

  
  // Content header
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35vh;
    font-weight: 700; // heavy;
    padding: $ui-content-padding-md $ui-content-padding-sm;
    text-align: center;
  }

  &__header-inner {
    margin: auto;
  }

  &__header-inner-section {
    &:nth-child(n+2) {
      margin-top: 4.8em;
    }

    &:nth-child(1) {
      & > * {
        animation: slide-in-from-left 1500ms ease both;

        @for $child from 1 through 2 {
          &:nth-child(#{$child}) {
            animation-delay: 200ms * $child;
          }
        }
      }
    }

    &:nth-child(2) {
      & > * {
        animation: slide-in-from-left 1500ms ease both;

        &:nth-child(1) {
          animation-delay: 200ms * 3;
        }
        
        &:nth-child(2) {
          animation-delay: 200ms * 4;
        }
      }
    }
  }

  &__author-role {
    display: inline-block;
    font-weight: 300;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-color: $color-primary;
    color: white;
    padding: 0.4em 0.75em;
  }

  &__author-name {
    font-family: "Avenir LT Std 35 Light";
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.3;

    &:nth-child(n+2) {
      margin-top: 0.5em;
    }
  }

  &__author-detail {
    display: inline-block;
    text-align: left;
    font-size: 0.75em;
    @include copy-color-light;
  }

  &__author-detail-item {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;

    &:nth-child(n+2) {
      margin-top: 0.6em;
    }
  }
  
  &__author-detail-item-icon {
    flex: 0 0 auto;
    min-width: 2em;
    padding-right: 0.8em;
  }

  &__author-detail-item-label {
    flex: 1 1 auto;
    min-width: 0;
  }
  
  // Content body
  &__body {
    position: relative;
    flex: 1 1 auto;
  }
  
  &__body-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    min-height: 40vh;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
  }


  &__body-divider {
    flex: 0 0 auto;
    padding: 10vh $ui-content-padding-md;
  }

  &__body-links {
    margin: auto;
    width: $content-width-md;
    max-width: 100%;
    text-align: center;
    padding-bottom: 8vh;
  }

  &__profile-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: row wrap;
  }

  &__profile-links-item {
    display: inline-block;
    flex: 0 0 50%;
    width: 50%;
    padding: $ui-content-padding-sm;
    text-align: center;

    @include media($media-sm) {
      flex: 0 0 25%;
      width: 25%;
    }
  }


  &__profile-links-item-link {
    display: inline-block;
    @include link-decoration;

    &::before {
      font-size: 3em;
      line-height: 1;
    }

    > p {
      display: block;
      margin: 0;
      padding-top: 2em;
      padding-bottom: 0.5em;
      opacity: 0.7;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-size: 0.65em;
    }
  }
}



@keyframes hero-fade-in {
  0% {
    transform: translateY(1em);
    opacity: 0;
  }
  100% {
    transform: translateY(0em);
    opacity: 1;
  }
}
