.about-me {
  @extend %body-copy-formatting;

  &__inner {
    width: $content-width-readable;
    max-width: 100%;
    padding: $ui-content-padding-lg $ui-content-padding-md;
    padding: 0 $ui-content-padding-md;
    margin: 0 auto;
  }

  &__section {
    &:nth-child(n+2) {
      margin-top: 3em;
    }
  }

  // Name and description
  &__name {
    margin: 0 !important;
  }

  &__description-subtitle {
    @include copy-color-light;
    font-size: 1.35em;
  }

  &__description {
    margin-top: 2em;
  }



  // Author image
  &__author-image {
    width: 220px;
    margin: $ui-content-padding-sm auto $ui-content-padding-lg auto;
    overflow: hidden;
    border-radius: 50%;
    transform: rotate(7deg);
    border: 4px solid $white;
    box-shadow: 0px 1px 5px rgba($black, 0.2), 0px 4px 15px -5px rgba($black, 0.2);

    @include media($media-sm) {
      float: right;
      margin: $ui-content-padding-md;
    }
  }

  &__author-image-base {
    overflow: hidden;
    border-radius: inherit;
  }


  // Skill list
  &__skills {
    columns: 3 250px;
  }

  &__skills-section {
    columns: 1 auto;
    padding-right: 20px;

    page-break-after: avoid;
    break-after: avoid;
    page-break-before: avoid;
    break-before: avoid;
    page-break-inside: avoid;
    break-inside: avoid;

    &:nth-child(n+2) {
      margin-top: 1.4em;
    }
  }

  &__skill-list-title {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
  }

  &__skill-list {
    margin: 0;
    padding: 0 0 0 1em;

    &:nth-child(n+2) {
      margin-top: 1.6em;
    }
  }
}
