.about-me {
  @extend %body-copy-formatting;

  &__inner {
    width: $content-width-readable;
    max-width: 100%;
    padding: $ui-content-padding-lg $ui-content-padding-md;
    margin: 0 auto;
  }

  &__section {
    &:nth-child(n+2) {
      margin-top: 3em;
    }
  }


  // Name and description
  &__name {

  }

  &__description-subtitle {
    @include copy-color-light;
  }

  &__description {
  }


  // Skill list
  &__skills {
    columns: 3 250px;
  }

  &__skills-section {
    columns: 1 auto;
    padding-right: 20px;

    page-break-after: avoid;
    break-after: avoid;
    page-break-before: avoid;
    break-before: avoid;
    page-break-inside: avoid;
    break-inside: avoid;

    &:nth-child(n+2) {
      margin-top: 1.4em;
    }
  }

  &_skill-list-title {
    margin: 0;
    padding: 0;
  }

  &__skill-list {
    margin: 0;
    padding: 0 0 0 1em;

    &:nth-child(n+2) {
      margin-top: 1.6em;
    }
  }
}
