<div class="about-me__skills-section">
    <h2 class="about-me__skill-list-title">{{@title}}</h2>

    <ul class="about-me__skill-list">
    {{#each @skills as |language|}}
        <li>{{language.name}}</li>
    {{/each}}
    </ul>
</div>
