<div class="decorative-triangles">
  <div class={{bem "decorative-triangles-item" first=true}}>
    <div class={{bem "decorative-triangle" first=true}}>
      <div class="decorative-triangle__inner" />
    </div>
  </div>

  <div class={{bem "decorative-triangles-item" second=true}}>
    <div class={{bem "decorative-triangle" second=true}}>
      <div class="decorative-triangle__inner" />
    </div>
  </div>
</div>
