.tech-grid-item {
  min-height: 0px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  padding: $ui-content-padding-md $ui-content-padding-sm;
  margin: 0;
  opacity: 0;
  transition: opacity 440ms;

  &--visible {
    opacity: 1;
  }

  &__header {
    font-size: 2.25em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__icon {
    flex: 1 1 auto;
    min-height: 1em;
    display: block;
    text-align: center;
    line-height: 1;
    opacity: 0.75;

    &::before {
      display: block;
      margin: 0 auto;
    }
  }

  &__body {
    margin-top: 1em;
    font-size: 0.8em;
    flex: 0 0 auto;
    text-align: center;
  }
}
