.tech-grid-item {

    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    transition: opacity 200ms;
    flex: 0 0 auto;
    width: 25%;

    @include media($media-xl) {
      width: 20%;
    }
  min-height: 0px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 30px;
  margin: 0;
  opacity: 0;
  transition: opacity 999ms;

  &--visible {
    opacity: 1;
  }

  &__header {
    font-size: 4rem;
    min-height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    flex: 1 1 auto;
    min-height: 0px;
    display: block;
    text-align: center;
    font-size: 1em;
    line-height: 1;
    opacity: 0.65;

    &::before {
      display: block;
      margin: 0 auto;
    }
  }

  &__body {
    flex: 0 0 auto;
    font-size: 1rem;
    text-align: center;
  }
}
