<div class="tech-grid-item__header">
  <div class="tech-grid-item__icon {{@tech.iconSrc}}"></div>
</div>

<div class="tech-grid-item__body">
  <p class="tech-grid-item__body-title">{{@tech.title}}</p>
</div>
