<section class="image-grid-slanted">
  <div class="image-grid-slanted__body">
    {{#each this.mediaRow as |row|}}
      <div class="image-grid-slanted__row">
        {{#each row as |media|}}
          <div
            class="image-grid-slanted__item"
            data-aspect-ratio={{this.imageAspectRatio}}
          >
            <Project::Content::ImageGridSlanted::ImageGridSlantedItem
              @alt={{media.alt}}
              @role={{@role}}
              @srcSet={{media.srcSet}}
            />
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</section>
