.project-details {
  width: 100%;
  max-width: $content-width-readable;
  margin: 0 auto;
  padding-right: $ui-content-padding-md;
  padding-left: $ui-content-padding-md;
  font-size: 2.2em;
  
  &__item {
    margin: 0;
    line-height: 1.3;
    
    &--title {
      font-size: 0.9em;
    }

    &--role {
      font-size: 1em;
      font-weight: 600;
    }

    &--timeframe {
      @include copy-color-light;
      font-size: 0.7em;
    }
    
    &--link {
      @include copy-color-light;
      font-size: 0.7em;
    }
  }
}
