<div class="svg-yard">
  <svg width="0" height="0">
    <defs>
      <clipPath id="clip-path-triangle" clipPathUnits="objectBoundingBox">
        <path d="M0.500, 0.945 L0.994, 0.090 L0.006, 0.090 L0.500, 0.945 L0.500, 0.650 L0.262, 0.238 L0.738, 0.237 L0.500, 0.650z"></path>
      </clipPath>
    </defs>
  </svg>
</div>


{{#if @shouldShowCookieBar}}
    <Ui::CookieBar />
{{/if}}


<Layout::PageSections::PageWrapper>
  {{liquid-outlet enableGrowth=false class="lf__main content-main"}}
  {{!-- {{outlet class="content-main"}} --}}
</Layout::PageSections::PageWrapper>
